@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbfbfd;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d7;
  border-radius: 10px;
}